@import '../../shared/variables/index.scss';

.container {
    background: $white;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: $borderRadius;
    color: $green;
    position: relative;
    font-family: 'Open Sans', sans-serif;

    p {
        margin: 0;
    }
}

.container__close {
    @extend .container;

    padding: $padding;
    cursor: pointer;
}

.container__open {
    @extend .container;

    padding: 5px;

    textarea {
        border: none;
        height: 100px;
        transition: height .2s ease;
    }
}

.overlay {
    background: $backgroundOverlay;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99998;
    transition: all .2s ease;
}