$black: #333333;
$white: #FFFFFF;
$whiteContrast: #E4E4E4;
$green: #2ECC71;
$red: #F75B60;
$gray: #bababa;
$blue: #498BF4;
$yellow: #F5C423;

$colorBorderTextBox: rgba(0, 0, 0, 0.12);
$backgroundOverlay: rgba(0, 0, 0, 0.3);

$colorBorder: #ced4da;