.input {
    width: 100%;
    padding: 11px 8px;
    display: block;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: $borderRadius;
    font-family: sans-serif;
    height: 50px;
    line-height: 25px;
    resize: none;
}