@import '../../shared/variables/index.scss';

.container {
    background: $white;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: $borderRadius;
    color: $green;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.container__open {
    @extend .container;

    padding: 5px;

    textarea {
        border: none;
        height: 100px;
        transition: height .2s ease;
        border-bottom: 2px solid $colorBorderTextBox;
        margin-bottom: 10px;
    }
}