@import './shared/variables/index.scss';

* {
  box-sizing: border-box;
}

body {
  background: $whiteBackground;
  color: $black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: $fontSizeNormal;
}

.botoncito {
  background: green;
}